body
{
	margin: 0;
	padding: 0;
	background-image: url(../../image/back.jpg);
    background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100%;
}
.b{
	margin: 0;
	padding: 0;
	margin-left: 16px;
	float: center;
	position: relative;
}
#myDIV{
    color: white;
    background-color: rgba(0,255,255,.6);

	animation: mymove 5s infinite;
}

@keyframes mymove {
	50% {
		box-shadow: 10px 20px 300px black;
	}
}
.myDIV{
	font-size: 20px;
	padding:10px; 
	margin-right: 40px;
	margin-bottom: 40px;
	width: 130px;
	height: 130px;
	border-radius: 30px;
	background-color: rgba(0,255,255,.6);
}
